/**
 * Variables
 */
$pc: #335186;
$dark: #19212F;
$lightdark: #52678A;


/**
 * Import
 */
@import './_mixin.scss';


/**
 * Core
 */
html,
body,
#wrap {
	min-height: 100vh;
}

body {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 15px;
	letter-spacing: -0.02em;
	word-break: keep-all;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

input, textarea, button, select {
	&:focus,
	&:active {
		outline: 1px solid $lightdark;
	}
}

a {
	transition: color 0.3s;

	@media all and (min-width: 1024px) {
		&:hover {
			color: $pc;
		}
	}
}

#wrap {
	background: linear-gradient(180deg, $dark 0%, #000 100%);
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 960px;
	width: 100%;
}

#main {
	position: relative;
	z-index: 2;
	padding: 100px 0;

	&-inner {
		display: flex;
	}
}

#sidebar {
	flex: 0 0 auto;
	position: relative;
	width: 210px;

	&-inner {
		position: sticky;
		top: 30px;
	}

	&-content {
		padding: 10px 10px 30px;
		background-color: #fff;

		.profile {
			.image {
				text-align: center;

				img {
					max-width: 100%;
				}
			}

			.title {
				margin-top: 20px;
				font-size: 14px;
				font-weight: 500;
			}

			.description {
				margin-top: 5px;
				font-size: 13px;
				color: #888;
				line-height: 19px;
			}
		}

		.category {
			margin-top: 20px;
			padding: 0 10px;
			font-size: 13px;

			.c_cnt {
				font-size: 10px;
				color: #888;
			}

			ul {
				margin: 0;
				padding: 0;
				list-style: none;

				a {
					display: inline-block;
					margin-top: 13px;
				}
			}

			& > ul {
				& > li {
					& > a {
						margin-top: 0;
					}

					& > ul {
						& > li {
							& > ul {
								padding-left: 15px;

								& > li {
									& > a {}
								}
							}
						}
					}
				}
			}
		}
	}

	&-other {
		.buttons {
			margin-top: 10px;

			ul {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin: 0;
				padding: 0 27px;
				height: 50px;
				list-style: none;

				li {
					a {
						color: #fff;
					}
				}
			}
		}

		.search {
			position: relative;
			margin: 20px 0 0;

			input,
			button {
				border: 0;
			}

			input {
				padding: 0 45px 0 15px;
				width: 100%;
				height: 50px;
				font-size: 13px;
				color: $lightdark;
				background-color: $dark;

				&::-webkit-input-placeholder { color: $lightdark; }
				&::-moz-placeholder { color: $lightdark; }
				&:-ms-input-placeholder { color: $lightdark; }
				&:-moz-placeholder { color: $lightdark; }
				&::placeholder { color: $lightdark; }
			}

			button {
				position: absolute;
				top: 0;
				right: 0;
				z-index: 2;
				width: 45px;
				height: 50px;
				font-size: 15px;
				color: $lightdark;
				text-align: center;
				background-color: transparent;
			}
		}

		.copyright {
			margin-top: 20px;
			font-size: 11px;
			color: #fff;
			text-align: center;
		}
	}
}

#container {
	flex: 1 1 auto;
	padding-left: 30px;
}

#overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}


/* #footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	color: #888;
	background-color: #02131d;

	a {
		&:hover {
			color: #fff;
		}
	}

	&-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 50px;
		font-size: 12px;
	}
} */


/**
 * Header
 */
#header {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	padding: 0 15px;
	width: 100%;
	height: 60px;
	transform: translate3d(0, -60px, 0);
	transition: transform 0.3s;

	.title {
		font-size: 14px;
		font-weight: 500;
		color: #fff;
	}

	.toggle-sidebar {
		position: absolute;
		top: 10px;
		right: 15px;
		width: 40px;
		height: 40px;

		&::before,
		&::after,
		span {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			margin: 0 auto;
			width: 23px;
			height: 2px;
			background-color: #fff;
		}

		&::before {
			top: 13px;
		}

		span {
			top: 19px;
		}

		&::after {
			top: 25px;
		}
	}
}


/**
 * List
 */
#list {
	&-container {
		opacity: 0;

		&.loaded {
			animation: smoothVisible 0.1s linear 1 forwards;
		}

		@keyframes smoothVisible {
			0% { opacity: 0; }
			100% { opacity: 1; }
		}

		ol {
			margin: 0 -15px;
			padding: 0;
			list-style: none;

			li {
				margin: 0 15px 30px;

				a {
					display: block;
				}

				.thumbnail {
					border: 1px solid #fff;

					img {
						width: 100%;
					}

					.title {
						&:not(:first-child) {
							@include screen-reader-text;
						}

						display: flex;
						align-items: center;
						justify-content: center;
						padding: 50px 5px;
						min-height: 150px;
						font-size: 12px;
						font-weight: 300;
						color: #fff;
						background-color: #060606;

						img {
							display: none;
						}
					}
				}

				.data {
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding: 15px 15px 13px;
					font-size: 11px;
					color: #fff;
					background-color: $dark;
				}
			}
		}

	}

	&-empty {
		font-size: 80px;
		color: #fff;
		text-align: center;
		opacity: 0.1;
	}
}


/**
 * Protect
 */
#protect {
	&-inner {
		padding: 15px;
		background-color: #fff;
	}

	&-header {
		.title {
			font-size: 20px;
			font-weight: 400;
			line-height: 30px;
		}

		.data {
			position: relative;
			display: flex;
			margin-top: 15px;
			margin-bottom: 20px;
			padding-bottom: 25px;
			font-size: 12px;
			color: #666;
			line-height: 1.05em;

			.common {
				margin-right: 20px;

				&:last-child {
					margin-right: 0;
				}
			}

			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 30px;
				height: 1px;
				background-color: #e1e1e1;
			}
		}
	}

	&-container {
		font-size: 14px;
		line-height: 200%;

		.notice {}

		.password-form {
			display: block;
			margin-top: 10px;
			max-width: 300px;
			width: 100%;

			input {
				height: 45px;
				border: 0 solid #ddd;
				border-bottom-width: 1px;
			}

			input[type="password"] {
				float: left;
				width: calc( 100% - 100px );
				padding: 0 10px;
			}

			input[type="button"] {
				float: left;
				width: 100px;
				font-size: 12px;
				background-color: #f5f5f5;
			}

			@include clearfix;
		}
	}
}


/**
 * Post
 */
#post {
	&-inner {
		padding: 15px;
		background-color: #fff;
	}

	&-header {
		.title {
			font-size: 20px;
			font-weight: 400;
			line-height: 30px;
		}

		.data {
			position: relative;
			display: flex;
			margin-top: 15px;
			margin-bottom: 20px;
			padding-bottom: 25px;
			font-size: 12px;
			color: #666;
			line-height: 1.05em;

			.common {
				margin-right: 20px;

				&:last-child {
					margin-right: 0;
				}
			}

			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 30px;
				height: 1px;
				background-color: #e1e1e1;
			}
		}
	}

	&-container {
		font-size: 14px;
		line-height: 200%;

		h3 {
			display: flex;
			align-items: center;
			line-height: 2em;
			margin-bottom: 20px;
			margin-top: 25px;
			padding: 5px 10px 7px;
			font-size: 16px;
			font-weight: 500;
			background-color: #f5f5f5;
			border-left: 5px solid #aaa;
		}

		h4 {
			margin-top: 20px;
			font-size: 16px;
			font-weight: 500;
		}

		p {
			margin-top: 0.5em;
			margin-bottom: 0.5em;
		}
	}

	&-tags {
		display: flex;
		justify-content: flex-end;
		margin-top: 30px;
		font-size: 13px;
		color: #888;

		a {
			display: inline-block;
			margin-left: 10px;

			&:first-child {
				margin-left: 0;
			}

			&::before {
				content: '#';
			}
		}
	}

	&-moving {
		display: flex;
		justify-content: space-between;

		.common {
			margin-top: 50px;
			font-size: 13px;
			text-align: center;
			line-height: 1;
			color: #fff;
			background-color: $dark;

			a:hover {
				color: #fff;
			}

			.image {
				background-color: $dark;
			}

			.label {
				padding: 13px 5px 15px;
			}
		}

		.prev {
			margin-right: 0;
			margin-left: auto;
		}
	}
}


/**
 * Communicate
 */
#communicate {
	margin-top: 100px;

	.title {
		margin-bottom: 30px;
		font-size: 14px;
		font-weight: 500;
		color: $lightdark;
	}

	&-lists {
		a {
			transition: opacity 0.3s;

			&:hover {
				color: inherit;
				opacity: 0.9;
			}
		}

		ol,
		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			.contents {
				font-size: 14px;

				.article {
					padding: 20px 25px;
					line-height: 200%;
					background-color: #fff;
				}

				.data {
					display: flex;
					padding: 15px 25px;
					font-size: 13px;
					color: #fff;
					background-color: $dark;

					.name {
						font-weight: 500;

						img {
							display: none;
						}
					}

					%beforeDot {
						content: '';
						display: inline-block;
						margin: 0 10px;
						width: 3px;
						height: 1px;
						background-color: $lightdark;
					}

					.date {
						display: inline-flex;
						align-items: center;


						&::before {
							@extend %beforeDot;
						}

						a {
							&::before {
								@extend %beforeDot;
							}
						}
					}

					.buttons {
						margin-right: 0;
						margin-left: auto;

						.common {
							display: inline-block;
							margin-left: 10px;

							&:first-child {
								margin-left: 0;
							}
						}
					}
				}
			}
		}

		.rp1 {
			& > li {
				margin-top: 40px;

				&:first-child {
					margin-top: 0;
				}

				&:last-child {
					margin-bottom: 80px;
				}
			}
		}

		.rp2 {
			& > li {
				margin-top: 20px;
				margin-left: 20px;
			}
		}
	}

	&-editor {
		.input {
			.common {
				margin-bottom: 25px;

				.label {
					margin-bottom: 10px;
					font-size: 13px;
					color: #fff;
				}

				input {
					padding: 0 25px;
					max-width: 300px;
					width: 100%;
					height: 45px;
					font-size: 14px;
					color: #fff;
					background-color: $dark;
					border: 0;
				}
			}
		}

		.textarea {
			textarea {
				padding: 20px 25px;
				width: 100%;
				min-height: 150px;
				font-size: 14px;
				color: #fff;
				line-height: 200%;
				background-color: $dark;
				border: 0;
				resize: vertical;
			}
		}

		.buttons {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 15px;

			.secret {
				position: relative;
				font-size: 13px;
				color: #fff;

				input {
					position: absolute;
					top: 0;
					left: 0;
					opacity: 0;

					&:focus ~ .label::before {
						border-color: $lightdark;
					}
					&:checked ~ .label::before {
						content: '\f00c';
						font-family: 'Font Awesome 5 Free';
						font-weight: 600;
					}
				}

				.label {
					padding-left: 25px;
					cursor: pointer;

					&::before {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						display: flex;
						justify-content: center;
						align-items: center;
						width: 20px;
						height: 20px;
						font-size: 10px;
						background-color: $dark;
						border: 1px solid transparent;
					}
				}
			}

			.submit {
				padding: 13px 25px;
				font-size: 13px;
				color: #fff;
				background-color: $dark;
				border: 0;
			}
		}
	}

	.comment-lock {
		font-size: 12px;
		color: #fff;
	}
}


/**
 * Guestbook
 */
$guestbook-color: #1d2738;

#guestbook {
	&-container {
		#communicate {
			margin-top: 0;

			&-editor {
				.textarea {
					textarea {
						min-height: 200px;
						background-color: $guestbook-color;
					}
				}

				.buttons {
					.secret {
						.label::before {
							background-color: $guestbook-color;
						}
					}

					.submit {
						background-color: $guestbook-color;
					}
				}

				.input {
					.common {
						input {
							background-color: $guestbook-color;
						}
					}
				}
			}

			&-lists {
				.rp1 {
					& > li {
						&:first-child {
							margin-top: 80px;
						}
					}
				}
			}
		}
	}
}


/**
 * Tags
 */
#tags {
	&-container {
		padding: 15px;
		background-color: #fff;

		.list {
			margin-top: -8px;
			font-size: 12px;
			text-align: center;

			a {
				display: inline-block;
				margin: 8px 4px 0;
				padding: 2px 5px;
				border: 1px solid;
			}

			.cloud1 {
				color: #a90000;
			}
			.cloud2 {
				color: #003584;
			}
			.cloud3 {
				color: #6a00ad;
			}
			.cloud5 {
				color: #aaa;
			}
		}
	}
}


/**
 * Pagination
 */
#pagination {
	margin-top: 45px;
	font-size: 13px;
	text-align: center;
	color: #fff;

	a:hover {
		color: inherit;
		opacity: 0.8;
	}

	.num {
		display: inline-block;
		margin: 5px 5px 0;

		.selected {
			font-weight: 600;
			color: #52678A;
		}
	}

	.prev {
		margin-right: 10px;
	}

	.next {
		margin-left: 10px;
	}

	.no-more-prev,
	.no-more-next {
		cursor: default;
		opacity: 0.5;
	}
}


/**
 * Media Query
 */
@include max-w(960) {
	#main {
		position: static;
		z-index: 1;

		&-inner {
			display: block;
		}
	}

	#sidebar {
		position: fixed;
		top: 0;
		right: 0;
		z-index: 999999;
		padding: 15px;
		max-width: 250px;
		width: 100%;
		height: 100%;
		background-color: #000;
		transform: translate3d(250px, 0, 0);
		transition: transform 0.5s;

		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;

		&-inner {
			position: static;
		}
	}

	#container {
		padding-left: 0;
	}


	/**
	 * Header
	 */
	#header {
		transform: translate3d(0, 0, 0);
	}

	/**
	 * Communicate
	 */
	#communicate {
		&-lists {
			ol,
			ul {
				.contents {
					.data {
						flex-wrap: wrap;

						.buttons {
							flex: 1 0 100%;
							margin: 10px 0 0;
						}
					}
				}
			}
		}
	}


	/**
	 * Html
	 */
	html.sidebar-active {
		#sidebar {
			transform: translate3d(0, 0, 0);
		}

		#overlay {
			display: block;
		}
	}

	html.scroll-lock {
		overflow: hidden;
		max-height: 100%;
	}
}

@include max-w(420) {
	#protect,
	#post {
		&-header {
			.data {
				display: block;

				.common {
					display: block;
					margin: 10px 0 0;

					&:first-child {
						margin-top: 0;
					}

					&::before {
						content: '- ';
					}
				}
			}
		}
	}
}
